html {
	min-width: 300px;

	color: #222222;
}

* {
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: border-box;
}

img {
	vertical-align: middle;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;

	border: 0;
	border-top: 1px solid #eeeeee;
}

input,
button,
select,
textarea {
	width: 100%;
	padding: 6px 12px;

	background-color: $brand-tertiary;

	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.input-group {
	padding: 0 0 15px 0;
}

a {
	transition: all .2s linear;

	color: $brand-primary;
	&:hover {
		opacity: 0.8;
		color: $brand-primary;
	}
}
