// Devices
$desktop: 1024px;
$tablet: 768px;
$mobile: 580px;

// Transitions
$bezier: cubic-bezier(.3,.2,.3,1.3);

// Colours
$brand-primary: #1999a4;
$brand-secondary: #3dccc7;
$brand-tertiary: #d8f5f4;

// Breakpoints

// Extra small screen / phone
$screen-xs: 						320px;

// Small screen / tablet
$screen-sm: 						544px;

// Medium screen / desktop
$screen-md: 						768px;

// Large screen / wide desktop
// $screen-lg: 						1024px;
$screen-lg: 						992px;

// Large screen / wide desktop
$screen-xl: 						1200px;
