// Settings
$main-font: 'Open Sans',sans-serif;

body {
    font-family: $main-font;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0 0 15px;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 42px;
}
