.header--sticky {
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	left: 0;
}
.navbar--primary {
	background-color: #fff;
	.navbar-nav {
		.navbar-brand {
			padding: 0 30px;
		}
		.navbar-toggler {
			margin: 0 30px 0 0;
		}
		.nav-item {
			&.active {
				.nav-link {
					color: $brand-primary;
				}
			}
			&.nav-item--home, &.nav-item--search {
				.nav-link {
					color: $brand-primary;
				}
			}
			.nav-link {
				text-decoration: none;
				text-transform: uppercase;

				color: #222222;

				font-size: 16px;
				&:hover {
					color: $brand-primary;
				}
			}
		}
	}
	.navbar-collapse {
		background-color: #fff;
		.nav-item {
			padding: 6px 0;

			text-align: center;

			line-height: normal;
		}
	}
}
