.section--hero {
	position: relative;

	min-height: 530px;

	border-bottom: 15px solid $brand-primary;
	background-color: $brand-primary;
	background-image:url('../../img/banner.jpg');
	background-size: cover;
	.row {
		min-height: 530px;
	}
	.hero__heading {
		position: absolute;
		top: 50%;

		width: 100%;

		transform: translateY(-50%);
		text-align: center;

		color: #fff;

		font-size: 48px;
		@media (max-width: $screen-lg)  {
			font-size: 42px;
		}
	}
	.hero__buttons {
		position: relative;
		z-index: 99;
		bottom: 19px;

		text-align: right;

		font-size: 23px;
		@media (max-width: $screen-lg)  {
			text-align: center;
			font-size: 18px;
		}
		.hero__button {
			padding: 20px;

			color: #fff;
			background-color: rgb(52, 168, 164);
			&:hover {
				text-decoration: none;

				opacity: 1;
				background-color: rgba(52, 168, 164, 0.8);
			}
			@media (max-width: $screen-lg)  {
				display: inline-block;
			}
		}
		.hero__button--alt {
			background-color: rgb(25, 131, 140);
			&:hover {
				opacity: 1;
				background-color: rgba(25, 131, 140, 0.8);
			}
		}
	}
}

.section--intro {
	padding: 40px 0;
}

.section--twitter {
	position: relative;

	padding: 40px 0;

	font-size: 20px;
	.fa {
		color: $brand-secondary;
	}
	.carousel--twitter {
		width: 100%;

		.slick-dots {
			li {
				&.slick-active {
					button {
						&:before {
							color: $brand-secondary;
						}
					}
				}
				button {
					&:before {
						opacity: 1;
						color: #c8c8c8;

						font-size: 10px;
					}
				}
			}
		}
	}
}

.section--accreditations {
	color: #fff;
	border-bottom: 15px solid #000000;
	background-color: $brand-primary;
	.accreditations {
		padding: 40px 0;
		.accreditations_accreditation {
			justify-content: space-between;

			text-align: center;
			figure {
				margin: 0;
			}
			img {
				margin: 0 auto;
			}
			figcaption {
				margin: 30px 0 0 0;

				font-size: 13px;
			}
		}
	}
}

.section--contact {
	padding: 40px 0;
	form {
		width: 100%;
		padding: 1rem;

		color: #fff;
		background-color: $brand-secondary;
		input {
			color: #000;
		}
		button {
			text-transform: uppercase;

			color: #fff;
			border: 0;
			background: transparent;

			font-size: 23px;
		}
	}
}

.section--testing {
	padding: 40px 0;
	.testing__title {
		font-size: 18px;
		font-weight: 700;
	}
	#piemenu > svg {
		width: 100%;
		height: 100%;
	}
	#piemenu {
		width: 100%;
		margin:auto;
	}
	@media (max-width: 400px) {
		#piemenu {
			width: 300px;
			height: 300px;
		}
	}
	[class|=wheelnav-piemenu-slice-basic] {
		fill: $brand-primary;
		stroke: none;
	}
	[class|=wheelnav-piemenu-slice-selected] {
		fill: $brand-primary;
		stroke: none;
	}
	[class|=wheelnav-piemenu-slice-hover] {
		cursor: pointer;

		fill: $brand-primary;
		stroke: none;
		fill-opacity: 0.77;
	}

	[class|=wheelnav-piemenu-title-basic] {
		fill: #333;
		stroke: none;
	}
	[class|=wheelnav-piemenu-title-selected] {
		fill: #fff;
		stroke: none;
	}
	[class|=wheelnav-piemenu-title-hover] {
		cursor: pointer;

		fill: #222;
		stroke: none;
	}
}

.section--whitepapers {
	.section__heading {
		margin: 40px 0;

		font-size: 54px;
	}
	.whitepapers {
		background: linear-gradient(to bottom, #68d8d6 0%,#68d8d6 50%,#ffffff 51%,#ffffff 100%);
	}
	.whitepaper {
		background-color: #fff;
		box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.25);
	}
	.whitepaper__thumbnail {
		margin: 0;
		img {
			width: 100%;
		}
	}
	.whitepaper__content {
		padding: 0 15px 15px 15px;
	}
	.whitepaper__heading {
		margin: 15px 0;

		color: $brand-primary;

		font-size: 28px;
		font-weight: 300;
	}
}
